*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
  }
  .container{
    background:  #FFFACD;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;

  }
            .logo{
            width: 50%;  
            flex: 1 1 100%;
            }

            .filters{
                background: #FFD700;
                flex: 2 1 auto;
                text-shadow: white;
                font-weight: 500;
                font-size: 1.2em;
                color: black;
                font: bold;
                border-radius:30px;
                cursor: pointer;
                transition: background 2s, color 2s;

                display: flex;
                    
            }
                        #filterName, #filterType{
                            flex: 2 1 auto;
                        }
            .tarjetas{
                background:	#FFD700; 
                display: inline-block;
                flex: 1 1 auto;
                padding: 20px;
                border-radius: 15px;
                text-align: center;
                box-shadow: 6px 6px 6px 6px black;
                            
            }
                .tarjetas img{
                    flex: 1 1 40%;
                    width: 80%;
                    background: #FFFACD;
                    border-radius: 100%;
                }
    h2{
        color: 	#0000CD;
        font-size: 2.7em;
        text-align: center;

    }
    p{
        color: blue;
        font-size: 1.0em;
        text-align: center;
    } 
    
  